.projects-container {
    width:50%;
    margin: 0 auto;
}
.input-group {
    margin-bottom: 20px;
}

.task-item {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
.btn-container{
    display: flex;
    gap:2rem;
    margin-top: 20px;

}

button {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* TodoListManager.css */
.completed {
    text-decoration: line-through;
    color: #999;
}
